:root {
    --extra-color: rgba(13, 110, 139, 0.75);
    /* --ned-color: rgba(229, 148, 0 , 0.9); */
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --primary-color: #110E4C;
    --secondary-color: #d4560d;
    --light-color: #E7ECFF;
   
    /* --extra-color: rgba(13, 110, 139, 0.75);
    --ned-color: rgba(229, 148, 0 , 0.9);
    --overlay-color: rgba(24, 39, 51 , 0.85);
    --primary-color: #110E4C;
    --secondary-color: #d4560d;
    --light-color: #E7ECFF; */
}

* {
    font-family: 'Roboto', sans-serif;
}
/* styling the body */
body {
        background: url(./1.jpg) no-repeat center center/cover;
}
/* styling H1 */
h1 {
    color: var(--light-color);
    text-align: center;
}

/* styling the paragraph */
p {
    text-align: center;
    color: var(--light-color);
}
/* styling the forms area */
.forms {
   
    width: 30%;
    /* margin: auto; */
}

.input {
    background: var(--overlay-color);
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    border-color: var(--ned-color);
    color: var(--light-color);
    font-size: 1.5rem;
    }
    .input:hover {
        background: var(--light-color);
        color: var(--overlay-color);
    }

    .search-box {
        padding: 6px;
        background-color: cornsilk;
        border-style: hidden;
        border-radius: 10px;
        color: #220404;
    }

    .search-btn {
        background-color: #500a0a;
        color: cornsilk;
        border-style: none;
        padding: 6px;
        border-radius: 10px;
    }
    #back-btn {
        display: none;
    }

    #total {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 70%;
        margin: auto;
    }
    #inputs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 200%;
        margin: auto;
    }
    #buttons {
        width: 70%;
        justify-content: space-between;
        margin: auto;
    }
/* button styling */
    .add-btn{
        background: var(--secondary-color);
        color: var(--primary-color);
        border-style: none;
        padding: 6px;
        border-radius: 10px;
        font-size: 1rem;
        width: 33%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin: auto;
        transition: all 1s ease;
    }

    .add-btn:hover {
        background: var(--secondary-color);
        color: var(--primary-color);
    }

    .update-btn {
        background:var(--primary-color); 
        color: var(--secondary-color);
        border-style: none;
        padding: 6px;
        
        border-radius: 10px;
        font-size: 1rem;
        width: 50%;
        font-family: 'Roboto', sans-serif;
        font-size: 1.2rem;
        margin: auto;
        transition: all 1s ease;
    }

    .del-btn {
        background-color: #500a0a;
        color: cornsilk;
        border-style: none;
        padding: 6px;
        border-radius: 10px;
        font-size: 1rem;
        margin: auto;
        transition: all 1s ease;
    }

    .edit-btn {
        background-color: cornsilk;
        color:  #500a0a;
        border-style: none;
        padding: 6px;
        border-radius: 10px;
        font-size: 1rem;
        margin: auto;
        transition: all 1s ease;
    }

    
   
    .button:hover {
        background: #f4f4f4;
        color: #333;
        transition: all 1s ease;
    }

    button {
        background: var(--primary-color);
        color: var(--secondary-color);
        font-size: 1rem;
        margin-top: 5px;
        padding: 5px;
        border-radius: 10px;
        transition: all 1s ease;
    }

    button:hover {
        background: var(--secondary-color);
        color: var(--primary-color);
        transition: all 1s ease;
    }

    /* image styling */
    img {
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }

    /* styling display container */
    #users {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
    }
    #container {
           
            background: rgba(245, 245, 245, 0.7);
            padding: 1rem 0 1rem 1rem;
            border-bottom: 1px solid rgb(0, 54, 134);
            margin-bottom: 1rem;
            border-radius: 20px;
            width: 20%;
             margin-right: 20px;
            font-size: 1rem;;
        
    }
   

    @media screen and (max-width: 1000px) {
        #users{
            display: block;
            width: 70%;
        }

        #container {
            width: 100%;
        }
        .button {
            background: var(--secondary-color);
            color: var(--primary-color);
            padding: 10px 5px;
            width: 53%;
           
            font-size: 1.2rem;
          
    }
    #total {
        display:block;
        /* justify-content: space-between; */
        width: 100vw;
        margin: auto;
    }
    .forms {
        display: block;
        width: 100vw;
        margin: auto;
    }
    #inputs {
        display: flex;
        flex-wrap:wrap;
        flex-direction: row;
         width: 100%;
        margin: auto;
    }

    
    
    }